<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include src="'modules/general/navbar/template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'modules/general/sidebar/template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <!-- <aside id="chat" data-ng-include src="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside> -->

    <section id="content" class="page-view" data-ui-view>
    	<div class="block-header">
	        <ol class="breadcrumb">
	            <li ng-repeat="state in states" data-ui-sref-active="active">
	                <a data-ui-sref="{{state}}" class="text-capitalize" ng-bind="state"></a>
	            </li>
	        </ol>
	    </div>
    </section>

</section>

<footer id="footer" data-ng-include src="'template/footer.html'"></footer>


