<div class="profile-account" ng-init="handleBreadcrumbs()">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            <div class="form-group fg-float m-b-30">
                <div class="fg-line">
                    <input type="text" class="form-control fg-input">
                    <label class="fg-label">Recording Name</label>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            <div class="form-group fg-float m-b-30">
                <div class="fg-line">
                    <input type="text" class="form-control fg-input">
                    <label class="fg-label">Description</label>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            <div class="m-b-30">
                <div class="radio m-b-15">
                    <label>
                        <input type="radio" name="sample" value="">
                        <i class="input-helper"></i>
                        <strong>Public</strong> Anyone can see this recording. You choose who can send messages.
                    </label>
                </div>

                <div class="radio m-b-15">
                    <label>
                        <input type="radio" name="sample" value="">
                        <i class="input-helper"></i>
                        <strong>Private</strong> You choose who can access your recordings.
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3 col-sm-12 m-t-20">
            <button class="btn btn-info btn-block">Add recording</button>
        </div>
    </div>
</div>