<div class="profile-account" ng-init="handleBreadcrumbs()">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            <div class="form-group fg-float m-b-30">
                <div class="fg-line">
                    <input type="text" class="form-control fg-input">
                    <label class="fg-label">Monitor Name</label>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3 col-sm-12 m-t-20">
            <button class="btn btn-info btn-block">Add monitor</button>
        </div>
    </div>
</div>