<div class="pmb-block">
    <div class="p-header">
        <ul class="p-menu">
            <li class="pm-search">
                <div class="pms-inner">
                    <i class="zmdi zmdi-search"></i>
                    <input type="text" placeholder="Search...">
                </div>
            </li>
        </ul>
    </div>

    <div class="contacts c-profile clearfix row">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="c-item">
                <a href="" class="ci-avatar p-20">
                    <img src="img/iofun.png" alt="">
                </a>

                <div class="c-info m-b-20">
                    <strong>CodeMachine</strong>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="load-more">
        <a href=""><i class="zmdi zmdi-refresh-alt"></i> Load More...</a>
    </div> -->
</div>
