<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="admin.users.all">All users</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="admin.users.agents">Agents</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="admin.users.scrubbers">Scrubbers</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="admin.users.supervisors">Supervisors</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="admin.users.admins">System Admin</a></li>