<div class="profile-account" ng-init="handleBreadcrumbs()">

	<div class="row">
		<div class="col-md-12">
			<div class="card" ng-init="campaignInfoShow=true">
                <div class="card-header ch-alt m-b-10" ng-click="campaignInfoShow = !campaignInfoShow">
                    <h2><i class="zmdi zmdi-info"></i> - Campaign info <small>sample text</small></h2>
                </div>

				<div uib-collapse="campaignInfoShow">
                	<div class="card-body">
                		<div class="row">
                			<div class="col-md-6">
                				<div class="form-group fg-float m-b-30">
		                    		<div class="fg-line">
		                    			<input type="text" class="form-control fg-input">
		                    			<label class="fg-label">Campaign name</label>
		                    		</div>
		                    	</div>
                			</div>
                			<div class="col-md-6">
		                    	<div class="form-group fg-float m-b-30">
		                    		<div class="fg-line">
		                    			<input type="text" class="form-control fg-input">
		                    			<label class="fg-label">Campaign Description</label>
		                    		</div>
		                    	</div>
		                    </div>
	                    </div>
                	</div>	                    
                </div>
            </div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="card" ng-init="campaignSettingsShow=true">
                <div class="card-header ch-alt m-b-10" ng-click="campaignSettingsShow = !campaignSettingsShow">
                    <h2><i class="zmdi zmdi-settings"></i> - Campign settings <small>sample text</small></h2>
                </div>

				<div uib-collapse="campaignSettingsShow">
                	<div class="card-body">
                		<div class="row">
                			<div class="col-md-6 text-center col-sm-12">
					            <div class="form-group fg-float m-b-30">
					                <div class="fg-line">
					                    <div class="select">
					                        <select class="form-control">
					                            <option value="null"></option>
					                            <option value="yes">yes</option>
					                            <option value="no">no</option>
					                        </select>
					                    </div>
					                    <label class="fg-label">Attendees</label>
					                </div>
					            </div>
					        </div>
                			<div class="col-md-6">
		                    	<div class="form-group fg-float m-b-30">
		                    		<div class="fg-line">
		                    			<input type="text" class="form-control fg-input">
		                    			<label class="fg-label">CallerID</label>
		                    		</div>
		                    	</div>
		                    </div>
	                    </div>
	                    <div class="row">
	                    	<h5 class="m-b-20 m-l-15 file-input-title">Time between calls</h5>
	                    	<div class="col-md-6">
	                    		<div class="form-group fg-float m-b-30">
					                <div class="fg-line">
					                    <div class="select">
					                        <select class="form-control">
					                            <option value="null"></option>
					                            <option value="yes">yes</option>
					                            <option value="no">no</option>
					                        </select>
					                    </div>
					                    <label class="fg-label">Hours</label>
					                </div>
					            </div>
	                    	</div>
	                    	<div class="col-md-6">
	                    		<div class="form-group fg-float m-b-30">
					                <div class="fg-line">
					                    <div class="select">
					                        <select class="form-control">
					                            <option value="null"></option>
					                            <option value="yes">yes</option>
					                            <option value="no">no</option>
					                        </select>
					                    </div>
					                    <label class="fg-label">Minutes</label>
					                </div>
					            </div>
	                    	</div>
	                    </div>
	                    <div class="row">
	                    	<h5 class="m-b-20 m-l-15 file-input-title">Agent time between calls</h5>
	                    	<div class="col-md-6">
	                    		<div class="form-group fg-float m-b-30">
					                <div class="fg-line">
					                    <div class="select">
					                        <select class="form-control">
					                            <option value="null"></option>
					                            <option value="yes">yes</option>
					                            <option value="no">no</option>
					                        </select>
					                    </div>
					                    <label class="fg-label">Hours</label>
					                </div>
					            </div>
	                    	</div>
	                    	<div class="col-md-6">
	                    		<div class="form-group fg-float m-b-30">
					                <div class="fg-line">
					                    <div class="select">
					                        <select class="form-control">
					                            <option value="null"></option>
					                            <option value="yes">yes</option>
					                            <option value="no">no</option>
					                        </select>
					                    </div>
					                    <label class="fg-label">Minutes</label>
					                </div>
					            </div>
	                    	</div>
	                    </div>
	                    <div class="row">
                			<div class="col-md-12">
                				<h5 class="file-input-title">Default script</h5>
        						<div class="form-group">
					                <div class="fg-line">
					                    <textarea class="form-control" rows="5" placeholder="..."></textarea>
					                </div>
					            </div>
                			</div>
                		</div>		
                	</div>	                    
                </div>
            </div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="card" ng-init="campaignLocalSettingsShow=true">
                <div class="card-header ch-alt m-b-10" ng-click="campaignLocalSettingsShow = !campaignLocalSettingsShow">
                    <h2><i class="zmdi zmdi-alarm"></i> - Campign local settings <small>The campaign will not dial outside of these hours, based on the timezone assiciated with the contacts, area code and prefix.</small></h2>
                </div>

				<div uib-collapse="campaignLocalSettingsShow">
                	<div class="card-body">
                		<div class="row">
                			<div class="col-md-6">
	                    		<div class="form-group fg-float m-b-30">
					                <div class="fg-line">
					                    <div class="select">
					                        <select class="form-control">
					                            <option value="null"></option>
					                            <option value="yes">yes</option>
					                            <option value="no">no</option>
					                        </select>
					                    </div>
					                    <label class="fg-label">From</label>
					                </div>
					            </div>
	                    	</div>
	                    	<div class="col-md-6">
	                    		<div class="form-group fg-float m-b-30">
					                <div class="fg-line">
					                    <div class="select">
					                        <select class="form-control">
					                            <option value="null"></option>
					                            <option value="yes">yes</option>
					                            <option value="no">no</option>
					                        </select>
					                    </div>
					                    <label class="fg-label">To</label>
					                </div>
					            </div>
	                    	</div>
                		</div>
                	</div>
                </div>
            </div>
        </div>
    </div>


</div>