<div class="login-content text-center">
    
    <div class="row login-logo-head">
        <div class="col-md-12">
            <img src="../modules/login/img/logo_white.png" alt="">
        </div>
    </div>

<!-- Login -->
    <div class="lc-block" id="l-login" data-ng-class="{ 'toggled': viewStatus.login === 1 }" data-ng-if="viewStatus.login === 1">
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
            <div class="fg-line">
                <input type="email" class="form-control" placeholder="Email" ng-model="models.login.email">
            </div>
        </div>

        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
            <div class="fg-line">
                <input type="password" class="form-control" placeholder="Password" ng-model="models.login.password">
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="" ng-model="models.login.keep_me_sign_in">
                <i class="input-helper"></i>
                Keep me signed in
            </label>
        </div>

        <a href="" class="btn btn-login btn-danger btn-float" ng-click="submitLogin()"><i class="zmdi zmdi-arrow-forward"></i></a>

        <ul class="login-navigation">
            <li data-block="#l-register" class="bgm-red" data-ng-click="viewStatus.login = 0; viewStatus.register = 1">Register</li>
            <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="viewStatus.login = 0; viewStatus.forgot = 1">Forgot Password?</li>
        </ul>
    </div>

<!-- Register -->
    <div class="lc-block" id="l-register" data-ng-class="{ 'toggled': viewStatus.register === 1 }" data-ng-if="viewStatus.register === 1">

        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
            <div class="fg-line">
                <input type="text" class="form-control" placeholder="Email Address" ng-model="models.login.email">
            </div>
        </div>

        <div class="input-group m-b-20" ng-class="{ 'login_bad_input': showWarning.status === true }">
            <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
            <div class="fg-line">
                <input type="password" class="form-control" placeholder="Password" ng-model="models.login.password">
            </div>
        </div>

        <div class="input-group m-b-20" ng-class="{ 'login_bad_input': showWarning.status === true }">
            <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
            <div class="fg-line">
                <input type="password" class="form-control" placeholder="Confirm Password" ng-model="models.login.confirmPassword">
            </div>
        </div>

        <div class="row" ng-if="showWarning.status">
            <div class="col-md-12 text-center">
                <h6 class="login_bad_input_header" ng-bind="showWarning.text"></h6>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="" ng-model="models.login.accept_license_aggrement">
                <i class="input-helper"></i>
                Accept the <a target="_blank" href="modules/login/legal/license.pdf">license agreement</a>
            </label>
        </div>

        <a href="" class="btn btn-login btn-danger btn-float" ng-click="doSignUp()"><i class="zmdi zmdi-arrow-forward"></i></a>

        <ul class="login-navigation">
            <li data-block="#l-login" class="bgm-green" data-ng-click="viewStatus.register = 0; viewStatus.login = 1">Login</li>
            <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="viewStatus.register = 0; viewStatus.forgot = 1">Forgot Password?</li>
        </ul>
    </div>

<!-- Forgot Password -->
    <div class="lc-block" id="l-forget-password" data-ng-class="{ 'toggled': viewStatus.forgot === 1 }" data-ng-if="viewStatus.forgot === 1">
        <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>

        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
            <div class="fg-line">
                <input type="text" class="form-control" placeholder="Email Address">
            </div>
        </div>

        <a href="" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>

        <ul class="login-navigation">
            <li data-block="#l-login" class="bgm-green" data-ng-click="viewStatus.forgot = 0; viewStatus.login = 1">Login</li>
            <li data-block="#l-register" class="bgm-red" data-ng-click="viewStatus.forgot = 0; viewStatus.register = 1">Register</li>
        </ul>
    </div>
</div>