<div class="profile-account" ng-init="handleBreadcrumbs()">
	<div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            <div class="form-group fg-float m-b-30">
                <div class="fg-line">
                    <input type="text" class="form-control fg-input">
                    <label class="fg-label">Directory name</label>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            <div class="form-group">
                <div class="fg-line">
                    <textarea class="form-control" placeholder="Description (optional)" data-autosize-on="true" style="overflow: hidden; word-wrap: break-word; height: 50px;"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3 col-sm-12">
        	<h5 class="m-b-20 file-input-title">File input</h5>
        	<div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-primary btn-file m-r-10">
                    <span class="fileinput-new">Select file</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" name="...">
                </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3 col-sm-12 m-t-20">
            <button class="btn btn-info btn-block">Upload csv file</button>
        </div>
    </div>
</div>